:root {
    --maxSizeTitle: 120px;
    --stepSize: 20px;
    --orange: rgba(255, 123, 0, 1);
    --orange-08: rgba(255, 123, 0, 0.8);
    --orange-06: rgba(255, 123, 0, 0.6);
    --orange-04: rgba(255, 123, 0, 0.4);
    --orange-02: rgba(255, 123, 0, 0.2);
    --orange-light: rgb(255, 149, 51);
    --white: rgb(255, 255, 255);
    --grey: rgb(146, 145, 145);
    --darkGrey: rgb(75, 74, 74);
    --black: rgb(0, 0, 0);
    --sectionGradient: linear-gradient(to top right, #cc3300 0%, #ff6600 100%);
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.hrStyle {
    border-style: dashed;
}

.img {
    width: 100%;
}

.imgH {
    height: 100%;
}

html, body {
    font-family: Quicksand;
    margin: 0;

    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
}

.sectionPaddingLevel {
    padding-left: 10%;
    padding-right: 10%;
}

.sectionPaddingVertical {
    padding-top: 2%;
    padding-bottom: 2%;
}

.statsBlock {
    border: 1px solid var(--black);
    background-color: var(--white);
    border-radius: 16px;
}

button {
    font-family: Quicksand;
}

/* h1 - h6 */
h1 {
    font-size: var(--maxSizeTitle);
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize));
    margin: 0;
}

h3 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize) * 2);
    margin: 0;
}

h4 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize) * 3);
    margin: 0;
}

h5 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize) * 4);
    margin: 0;
}

h6 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize) * 5);
    margin: 0;
}