:root {
    --maxSizeTitle: 120px;
    --stepSize: 20px;
    --orange: rgb(255, 123, 0);
    --white: rgb(255, 255, 255);
    --grey: rgb(146, 145, 145);
    --darkGrey: rgb(75, 74, 74);
  }
  

html, body {
    font-family: Quicksand;
    margin: 0;

    height: 100%;
}

.container {
    height: 100%;
}

.sectionPaddingLevel {
    padding-left: 10%;
    padding-right: 10%;
}

.sectionPaddingVertical {
    padding-top: 2%;
    padding-bottom: 2%;
}

button {
    font-family: Quicksand;
}

/* h1 - h6 */
h1 {
    font-size: var(--maxSizeTitle);
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize));
    margin: 0;
}

h3 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize) * 2);
    margin: 0;
}

h4 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize) * 3);
    margin: 0;
}

h5 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize) * 4);
    margin: 0;
}

h6 {
    font-size: calc(var(--maxSizeTitle) - var(--stepSize) * 5);
    margin: 0;
}